/.gradle
/.idea
/eclipse
/build
/run

/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/forge-1.8-11.14.0.1281-1.8-changelog.txt
/forge.iml

*.bak
*.rhl
/*.iml
